<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar funcionário</title>
</head>
<body>
<h1>Cadastrar funcionário</h1>

<form action="/cadastrar_funcionario" method="POST">
    {% extends 'base.html' %}

    {% block content %}
    <h1>Cadastro de funcionário</h1>

    <form action="{% url 'cadastrar_funcionario' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p() }}

        <button type="submit">Cadastrar</button>
    </form>
    {% endblock %}
</form>
</body>
</html>